.cursor {
  /* width: 7px;
  height: 7px;
  border: 2px solid #fefefe;
  border-radius: 50%; */
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  /* background-color: #fefefe; */
  mix-blend-mode: difference;
  transition-property: width, height, border-width, transform, top, left;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  background-size: contain;
  background-repeat: no-repeat;
}

.cursor--hidden {
  width: 0px;
  height: 0px;
  opacity: 0;
}

.cursor--media {
  z-index: 0;
  mix-blend-mode: normal !important;
  border: 0px solid #fefefe;
}