/* text */

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap');

@font-face {
  font-family: 'helvetica-neue';
  src:url('webfontkit-helveticaneue/helveticaneue_light-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica-neue';
  src: url('webfontkit-helveticaneue/helveticaneue_medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica-neue';
  src: url('webfontkit-helveticaneue/helvetica_neu_bold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica-neue';
  src: url('webfontkit-helveticaneue/helveticaneueit-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

* {
  font-family: 'helvetica-neue', sans-serif;
  /* overflow-x: hidden; */
  background-color: transparent;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column-left {
  float: left;
  width: 25%;
  padding: 25px 40px 25px 25px;
  height: 100vh;
}

.column-right {
  float: left;
  width: 75%;
  padding: 25px;
  height: 100%;
}

/* Wrapper */

.wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 70% 23% 7%;
  grid-gap: 32px 60px;
  gap: 32px 60px;
  grid-row-gap: 28px;
  row-gap: 28px;
}

.col1-start {
  grid-column-start: 1;
}

.col2-start {
  grid-column-start: 2;
}

.col1-end {
  grid-column-end: 1;
}

.col2-end {
  grid-column-end: 2;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.App {
  background-color: #ffffff;
}

body {
  margin: 0;
  font-family: 'helvetica-neue', sans-serif;
}

h1, h2, h3, h4, p, i, h1 span {
  font-weight: 400;
}

p, li {
  line-height: 1.5;
}

b {
  font-weight: 600;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
}

p {
  font-size: 0.95rem;
}

span {
  font-family: 'Overpass Mono', sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #777777;
}

.project-column a,
.project-column p {
  font-size: 1rem;
}

.project-column ol {
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-position: inside;
}

a {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-decoration-color: #a5a5a5;
  color: #000000;
}

a:hover {
  text-decoration-style: solid;
  text-decoration-color: #000000;
}

/* .current-page {
  color: #775ac5;
}

.current-page:hover {
  text-decoration-color: #775ac5;
} */

::selection {
  background: #efe9ff;
  color: #000000;
}

/* img */

img {
  width: 100%;
}

.centeredimg img {
  max-width: 40vw;
}

.paddingtop30 {
  padding-top: 30px;
}

.portrait {
  max-width: 30vw;
}

/* iframe */

.famiframe {
  border: 0;
  width: 300px;
  height: 530px;
}

/* burger-menu */

.burger-menu,
.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  position: relative;
  /* right: 20px; */
  /* bottom: 40px; */
  z-index: 9999;
  /* background: #fff; */
  padding-right: 20px;
  border-radius: 25px;
  background-color: transparent;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); */
}

.burger-menu .bar1,
.bar2 {
  width: 30px;
  height: 1px;
  background-color: #22223B;
  margin: 7px 0;
  transition: 0.4s;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-30deg) translate(-4px, 4px);
  transform: rotate(-30deg) translate(-2px, 2px);
  background-color: #f7f5f1;
}

.burger-menu.open .bar2 {
  -webkit-transform: rotate(30deg) translate(-4px, -4px);
  transform: rotate(30deg) translate(-4px, -4px);
  background-color: #f7f5f1;
}

.burger-menu {
  display: none;
}

.Menu a,
.Menu p {
  color: #fff;
}

/* screens */

@media (min-width: 280px) and (max-width: 895px) {
  .wrapper {
    display: block;
  }
  .column-right {
    width: 100%;
  }
  .burger-menu {
    display: inline-block;
    position: sticky;
    padding-left: 20px;
    padding-top: 20px;
  }
  .burger-menu.open {
    padding-right: 80px;
  }
  .nav-info {
    display: none;
  }
}

/* @media (min-width: 280px) and (max-width: 475px) {

}

@media (min-width: 476px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1024px) {

}

@media (min-width: 1025px) and (max-width: 1440px) {

} */